@charset "utf-8";
@import "normalize";

body {
  background-color: #E0E0E0;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  padding-top: 60px;
}

.wrap {
  width: 1060px;
  margin: 0 auto;
}

header {
  background: #4A148C;
  text-align: left;
  line-height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
}

header .logo {
  font-family: "Patua One", "Georgia", serif;
  color: #fff;
  text-decoration: none;
  font-size: 24px;
}

.logo img {
  height: 11.75em;
  margin-top: 2.6em;
}

h1 {
  color: #fff;
  font-family: "Patua One", "Georgia", serif;
  font-size: 2.5em;
  letter-spacing: 1px;
  margin: 0;
}

.intro {
  display: inline-block;
  padding-top: 70px;
  width: 530px;
  vertical-align: top;
  -webkit-animation-name: welcome;
  -webkit-animation-duration: .9s;
}

.iphones-container {
  display: inline-block;
  text-align: center;
  margin-left: 120px;
  width: 320px;
  -webkit-animation-name: welcome;
  -webkit-animation-duration: .9s;
}

.iphones-container img {
  width: 100%;
}

.intro p {
  color: #fff;
  font-family: "Noto Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  margin: 24px 0 24px 0;
}

.prefinery-form-embed {
  width: 500px;
}

.welcome {
  background: #7B1FA2;
  background-image: image-url('bg.jpg');
  background-size: cover;
  background-blend-mode: multiply;
  padding: 40px 0;
}

h2 {
  color: #fff;
  font-family: "Patua One", "Georgia", serif;
  font-size: 1.75em;
  letter-spacing: 1.5px;
  margin: 0.4em 0 0.6em 0;
}

.user-pitch {
  background: #fff;
  padding: 50px 10%;
  height: 200px;
  text-align: left;
  display: flex;
  flex-direction: row;
}

.user-pitch img {
  height: 400px;
  margin-top: -100px;
}

.user-pitch ul {
  flex: 1;
  color: #fff;
}

.festival-pitch {
  background: #212121;
  padding: 100px 10% 50px 10%;
}

footer {
  color: #424242;
  font-size: 12px;
  font-weight: 500;
  line-height: 60px;
}

.copyright {
  display: inline-block;
  width: 530px;
}

.footer-links {
  display: inline-block;
  width: 525px;
  text-align: right;
}

.footer-links a {
  color: #424242;
  margin-left: 12px;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.feature-list {
  color: #fff;
  list-style: none;
  text-align: left;
}

.feature-list li {
}

.feature-list li:before {
  content: "\f00c"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
}

@-webkit-keyframes welcome {
  from {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
   -webkit-transform: scale(0);
   opacity: 0;
  }
  82.5% {
    -webkit-transform: scale(1.03);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
  }
}
