@charset "utf-8";
@import "normalize";

body {
  background-color: #E0E0E0;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
}

.wrap {
  width: 85%;
  margin: 0 auto;
}

header {
  background: #4A148C;
  text-align: center;
  line-height: 60px;
  width: 100%;
}

header .logo {
  font-family: "Patua One", "Georgia", serif;
  color: #fff;
  text-decoration: none;
  font-size: 24px;
}

.logo img {
  height: 11.75em;
  margin-top: 2.6em;
}

h1 {
  color: #fff;
  font-family: "Patua One", "Georgia", serif;
  font-size: 42px;
  letter-spacing: 1px;
  margin: 0;
}

.welcome {
  background: #7B1FA2;
  background-image: image-url('bg.jpg');
  background-size: cover;
  background-blend-mode: multiply;
  padding: 40px 0;
  text-align: center;
}

.intro {
  flex: 1;
  vertical-align: top;
  -webkit-animation-name: welcome;
  -webkit-animation-duration: .9s;
  margin-bottom: 40px;
}

.iphones-container {
  text-align: center;
  flex: 1;
  -webkit-animation-name: welcome;
  -webkit-animation-duration: .9s;
}

.iphones-container img {
  width: 100%;
}

.intro p {
  color: #fff;
  font-family: "Noto Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  margin: 24px 0 24px 0;
}

footer {
  color: #424242;
  display: flex;
  flex: 1;
  flex-direction: row;
  font-size: 12px;
  font-weight: 500;
  line-height: 60px;
  padding-bottom: 30px;
}

.copyright {
  flex: 1;
}

.footer-links {
  flex: 1;
  text-align: right;
}

.footer-links a {
  color: #424242;
  margin-left: 12px;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

@-webkit-keyframes welcome {
  from {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
   -webkit-transform: scale(0);
   opacity: 0;
  }
  82.5% {
    -webkit-transform: scale(1.03);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
  }
}

$breakpoint-tablet: 768px;
@media (min-width: $breakpoint-tablet) {
  body {
    padding-top: 60px;
  }

  .wrap {
    width: 90%;
  }

  header {
    position: fixed;
    top: 0;
    text-align: left;
  }

  h1 {
    font-size: 32px;
  }

  .welcome {
    text-align: left;
    padding: 30px 0;
  }

  .welcome > .wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .intro {
    display: inline-block;
    flex: 4;
    -webkit-animation-name: welcome;
    -webkit-animation-duration: .9s;
    margin: 0;
  }

  .iphones-container {
    flex: 3;
    text-align: right;
  }

  .iphones-container img {
    width: 90%;
  }
}

$breakpoint-large: 1080px;
@media (min-width: $breakpoint-large) {
  h1 {
    font-size: 42px;
  }

  .wrap {
    width: 1060px;
  }

  .iphones-container img {
    width: 75%;
  }

  .intro p {
    font-size: 16px;
  }
}
