---
title: Welcome to Middleman
---

<div class="welcome">
  <div class="wrap">
    <div class="intro">
      <h1>The Ultimate Beer Festival Companion App</h1>
      <p>
        With Beer Festival Buddy you'll never miss out on the top beers at
        festivals again. Discover festivals, browse and rate beers and invite
        friends along too.
      </p>
      <p>We're launching in early 2017. Sign up below to be one of the first to get access.</p>
      <div class='prefinery-form-embed'></div>
    </div>
    <div class="iphones-container">
      <%= image_tag 'iphones.png' %>
    </div>
  </div><!-- .wrap -->
</div><!-- .welcome -->
