---
title: Welcome to Middleman
---

<div class="welcome">
  <div class="logo">
    <%= image_tag "beer-festival-buddy.png" %>
  </div>
  <h1>Hey! I'm Beer Festival Buddy.</h1>
  <p class="intro">
    I'm the Beer Festival companion app launching in early 2017. Sign up below to get early access and you'll never visit a Beer Festival without me again.
  </p>
  <div class='prefinery-form-embed'></div>
</div><!-- .welcome -->

